{{ define "main" }}
<section class="main">
  <div class="container">
    <div class="row">
      <div class="col">
        {{ partial "title" . }}
        <div class="py-3">{{ .Content | markdownify }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>.Resize</h2>
        {{ $img1 := .Resources.GetMatch "**1*" }}
        {{ $img1 = $img1.Resize "600x" }}
        <figure class="figure">
          <img src="{{ $img1.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption">.Resources.GetMatch - Resize to a width of 600px and preserve ratio</figcaption>
        </figure>
      </div>
      <div class="col-md-6">
        <h2>.Resize</h2>
        {{ $img2 := .Resources.GetMatch "**2*" }}
        {{ $img2 = $img2.Resize "x400" }}
        <figure class="figure">
          <img src="{{ $img2.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption">.Resources.GetMatch - Resize to a height of 400px and preserve ratio</figcaption>
        </figure>
      </div>
      <div class="col-md-6">
        <h2>.Resize</h2>
        {{ $img3 := .Resources.GetMatch "**3*" }}
        {{ $img3 = $img3.Resize "600x300" }}
        <figure class="figure">
          <img src="{{ $img3.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption">.Resources.GetMatch - Resize to a width 600px and a height of 300px</figcaption>
        </figure>
      </div>
      <div class="col-md-6">
        <h2>.Fit</h2>
        {{ $img4 := .Resources.GetMatch "**4*" }}
        {{ $img4 := $img4.Fit "400x400" }}
        <figure class="figure">
          <img src="{{ $img4.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption">.Resources.GetMatch - Fit within a 400x400px box</figcaption>
        </figure>
      </div>
      <div class="col-md-6">
        <h2>.Fill</h2>
        {{ $img5 := .Resources.GetMatch "**1*" }}
        {{ $img5 := $img5.Fill "400x400" }}
        <figure class="figure">
          <img src="{{ $img5.RelPermalink }}" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption">.Resources.GetMatch - Fill within a 400x400px box</figcaption>
        </figure>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</section>

{{ end }}